.graph{
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;

}

.form{
  display: inline-block;
  position:absolute;
  bottom: 0;
  left: 20px;
  top: 20px;
  width:30&;
  height: 100%;
}

.theList{
  display: inline-block;
  position:absolute;
  bottom: 0;
  left: 20px;
  top: 40px;
  width:30&;
  height: 100%;
}
